body {
  background-color: #c9c7c7;
  
}

.app {
  display: flex;
  flex-direction: column;
width: 100%;
max-width: 900px;
  margin: 50px auto 0 auto;
  box-sizing: border-box;
}

.app__container {
  display: flex;
  justify-content: space-between;
  width: 100%;
  margin: 0 0 30px;

  h2 {
    margin: 0;
  }

  button {
    background-color: #397464;
    color: white;
    padding: 10px;
    border: none;
    border-radius: 20px;
  }
}
.app__table-header {
  background-color: #000000;

  th {
    padding: 10px;
    color: white;
    text-align: start;
  }
}
