body {
  background-color: #c9c7c7;
}

.app {
  display: flex;
  flex-direction: column;
  width: 100%;
  max-width: 900px;
  margin: 50px auto 0 auto;
  box-sizing: border-box;
}

.app__container {
  display: flex;
  justify-content: space-between;
  width: 100%;
  margin: 0 0 30px;

  h2 {
    margin: 0;
  }

  button {
    background-color: #397464;
    color: white;
    padding: 10px;
    border: none;
    border-radius: 20px;
  }
}
.app__table-header {
  th {
    background-color: #000000;
    padding: 10px;
    color: white;
    text-align: start;
    width: 100px;
  }

  th:hover:not(:last-child) {
    background-color: #515151;
  }
}

.app__mainTable {
  td {
    padding: 10px;
    color: #000000;
    text-align: start;
    width: 100px;
    background-color: #fff;
  }
}

.app__form {
  display: flex;
  flex-direction: column;
  gap: 30px;

  h2 {
    margin: 0 auto;
  }

  button,
  input {
    padding: 10px;
    border-radius: 20px;
    border: none;
  }

  button {
    background-color: #2f7747;
    color: white;
  }
}

.app__deleteRow {
  background-color: rgb(184, 59, 59);
  color: white;
  border-radius: 30px;
  padding: 10px;
  border: none;
  width: 100px;

  &:hover {
    background-color: rgb(131, 43, 43);
  }
}

.loader {
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  width: 40px;
  height: 40px;
  --c: no-repeat linear-gradient(orange 0 0);
  background: var(--c), var(--c), var(--c), var(--c);
  background-size: 21px 21px;
  animation: l5 1.5s infinite cubic-bezier(0.3, 1, 0, 1);
}
@keyframes l5 {
  0% {
    background-position: 0 0, 100% 0, 100% 100%, 0 100%;
  }
  33% {
    background-position: 0 0, 100% 0, 100% 100%, 0 100%;
    width: 60px;
    height: 60px;
  }
  66% {
    background-position: 100% 0, 100% 100%, 0 100%, 0 0;
    width: 60px;
    height: 60px;
  }
  100% {
    background-position: 100% 0, 100% 100%, 0 100%, 0 0;
  }
}
